<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956801322641-1e6ngsotg25rtj600qdp7oodqc45sjpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956801322641-1e6ngsotg25rtj600qdp7oodqc45sjpi</string>
	<key>API_KEY</key>
	<string>AIzaSyBoUwq2aQ1CE5cINBi-OAyMOhBORy3rNQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>956801322641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>viresh-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>viresh-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956801322641:ios:e2d7bd31793d07d1edf930</string>
</dict>
</plist>